---
import "virtual:windi.css";
import Quotes from "@components/Quotes";
import PageLink from "@components/PageLink.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>qterr</title>
  </head>
  <body>
    <div class="pl-5 pt-5 w-full <sm:p-2 mb-20">
      <PageLink label="suggest quote" href="/suggest" />
      <PageLink label="clean version" href="/clean" />
      <PageLink label="github<3" href="https://github.com/maksimil/quoter" />
      <div class="pt-10">
        <Quotes all={true} client:load />
      </div>
    </div>
  </body>
</html>
