---
import "virtual:windi.css";
import { getQuotes } from "@api/quotes";
import Quote from "@components/Quote.astro";

const quotes = await getQuotes();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Цетатник</title>
  </head>
  <body>
    <div class="pl-3 space-y-5 mt-3">
      {
        quotes.map((quotes) => (
          <Quote author={quotes.author} contents={quotes.contents} />
        ))
      }
    </div>
  </body>
</html>
