---
import "virtual:windi.css";
import Quotes from "@components/Quotes";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>qterr</title>
  </head>
  <body>
    <div class="pl-5 pt-5 w-full <sm:p-2 mb-20">
      <a href="/suggest" class="text-xl font-mono hover:text-gray-500">
        suggest quote
      </a>
      <div class="pt-10">
        <Quotes client:load />
      </div>
    </div>
  </body>
</html>
