---
import "virtual:windi.css";
import Suggest from "@components/Suggest";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>qterr suggest</title>
  </head>
  <body>
    <div class="ml-5 mt-5">
      <div class="text-2xl font-mono">Suggest quote</div>
      <Suggest client:load />
    </div>
  </body>
</html>
